import { {{pascalCase name}}Props } from './{{pascalCase name}}.types'
import { use{{pascalCase name}} } from './use{{pascalCase name}}'

export const {{pascalCase name}} = (props: {{pascalCase name}}Props) => {
  return (
    <div>
      <h1>{{pascalCase name}}</h1>
    </div>
  )
}
